#content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    width: 100%;
    font-size: 3.5vw;
    font-family: 'Courier New', Courier, monospace;
}

.home-logo {
    width: 35%;
    height: auto;
}

.homepage-headline {
    align-self: center;
    font-size: 4vw;
    width: 8ch;
}